
if has('ide')

    " Leader key
    let mapleader = "\<Space>"

    " Set column
    set colorcolumn=80

    " Set line numbers
    set number

    set showcmd " Show the number of selected lines, characters etc.
    set hlsearch
    set incsearch

    set autoindent
    set copyindent
    set smartindent

    " NERDTree movement in explorer
    set NERDTree
    let g:NERDTreeMapActivateNode='l'
    let g:NERDTreeMapJumpParent='h'

    " Commentary
    set commentary

    " Vim actions

    " Write
    map <leader>w :w<cr>

    " Write and quit
    map <leader>x :x<cr>

    " Quit
    map <leader>q :q<cr>

    " Toggle code folding
    map za <Action>(ExpandCollapseToggleAction)

    " Expand all folded regions
    map <leader>zR <Action>(ExpandAllRegions)

    " Collapse all folded regions
    map <leader>zM <Action>(CollapseAllRegions)

    " Toggle bookmark
    map <leader>m <Action>(ToggleBookmark)

    " Bookmarks
    map <leader>b <Action>(ActivateBookmarksToolWindow)

    " Todo
    map <leader>d <Action>(ActivateTODOToolWindow)

    " File explorer
    map <leader>e <Action>(ActivateProjectToolWindow)

    " Files explorer
    map <leader>f <Action>(GotoFile)

    " Project explorer
    map <leader>p <Action>(ManageRecentProjects)

    " Find in files
    map <leader>F <Action>(FindInPath)

    " Hide all windows
    map <leader>h <Action>(HideAllWindows)

    " Services
    map <leader>s <Action>(ActivateServicesToolWindow)

    " Terminal
    map <leader>t <Action>(ActivateTerminalToolWindow)

    " Terminal in current file folder
    map <leader>T <Action>(Terminal.OpenInTerminal)

    " Git changes
    map <leader>g <Action>(CheckinProject)

    " New codeGPT chat
    map <leader>< <Action>(codegpt.NewChat)

    " Distraction free mode
    map <leader>z <Action>(ToggleDistractionFreeMode)

    " Presentation mode
    map <leader>P <Action>(TogglePresentationMode)

endif